

html, body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

/*---------HEADER-------------*/

header{
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url('../images/main.jpg');
    background-size: cover;
    background-position: center;
}

header #info{
    position: absolute;
    right: 200px;
    top: 150px;
    line-height: 20px;
    text-align: center;

}

header #info h1{
    font-size: 4rem;
    font-weight: 600;
}

header #brain{
    margin: auto;
    visibility: hidden;
}

header #brain img{
    margin: auto;
    display: block;
    height: auto;
    width: 250px;
}


#menu{
    position: fixed;
    top: 10px;
    left: 10px;
    visibility: hidden;
    width: 50px;
    height: auto;
    z-index: 999;

}


nav{
    z-index: 999;
    height: 100%;
    width: 400px;
    background-color: #45489a;
    color: white;
    float: left;
    position: fixed;
    transition: transform 600ms ease;

}

nav #sommary{
    margin-top: 20px;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav a:visited{
    color: white;
    text-decoration: none;
}
nav h2{
    padding: 30px 60px 30px 60px;
    text-align: center;
    border:1px solid rgba(250,250,250,0.5);
}






nav div#content{
    border-top: 1px solid white;
    height: 100%;
    background-color: rgba(12,12,12,0.9);
}

nav #content ul{
    text-align: left;
    height: 100%;
    margin-left: 30px;
    position: relative;
    top: 25%;
    line-height: 50px;
    list-style: none;

}

main{
    margin-top: 20px;
    margin-left: 400px;
    padding: 50px;
    transition: margin-left 600ms ease;

}




@media screen and (max-width: 1000px){
    #menu{
        visibility: visible;
    }
    nav {
        transition: transform 600ms ease;
        width: 100%;
        height: 100vh;
    }
    main{
        margin-left: 0;
        transition: margin-left 600ms ease;

    }
    header{
        background-image: none;
        background-color: #252330;
    }
    header #info{
        right: unset;
        top: unset;
        width: 100%;
        padding-top: 50px;
    }
    header #brain{
        visibility: visible;
        padding-top: 200px;
    }
    footer{
        margin-left: 0;
    }



}


/** SECTION**/
main p {
    line-height: 1.6;
    font-size: 1rem;
    text-align: justify;
}

main a{
    text-decoration: none;
    color: #0645ad;
}

main a:hover{
    text-decoration: underline;
}

main a:visited {
    color: #0b0080;
}

main section{
    margin-top: 20px;
}

main section .flex {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;


}

.center{
    margin: auto;
}




@media screen and (max-width: 1000px){
    main section .flex{
        grid-template-columns: 1fr;
    }
    main{
        padding: 20px;
    }
}


main section .flex p{
    text-align: justify;
}

main section img{
    width: 80px;
    height: auto;
}

main li{
    margin: 20px;
}

main .center{
    text-align: center;
}

section.grey{
    background-color: #f4f4f4;
    border-bottom: none;
    padding: 10px;
}

footer{
    margin-top: 50px;
    margin-left: 22%;
}

.margin{
    margin-left: 40px;
}


#dobelle{
    width: 200px;
}

.text-right{
    text-align: left;
}

figcaption{
    color: grey;
    font-style: italic;
}

